
:root{
	/*Light mode*/
	--primaryColor: #2B7586;
	--secondaryColor: #F4E5B1;

	/*Dark mode*/
	--primaryColorDark: #E3671D;
	--secondaryColorDark: #2F272F;
}

html, body{
	background-color: var(--secondaryColorDark) !important;
  color: var(--primaryColor);
  transition: 0.2s ease all;
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap{
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -100px;
}

/* Set the fixed height of the footer here */
#push, #footer {
  height: 100px;
}


/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

[data-theme="dark"]{
	background-color: var(--secondaryColorDark) !important;
	color: var(--primaryColorDark) !important;
}

[data-theme="dark"] html, [data-theme="dark"] body{
  background-color: var(--secondaryColorDark) !important;
  color: var(--primaryColorDark) !important;
  height: 100%;
}

[data-theme="dark"] .bg-light{
	background-color:var(--primaryColorDark) !important;
	color: var(--secondaryColorDark) !important;
}
  
[data-theme="dark"] .bg-white{
	background-color:var(--secondaryColorDark) !important;
}
  
[data-theme="dark"] .bg-black{
	background-color: var(--primaryColorDark) !important;
}
[data-theme="dark"] .btn-outline-secondary{
    background-color: var(--primaryColorDark) !important;
    color:var(--secondaryColorDark) !important;
}
[data-theme="dark"] #footer, #push{
	  color: var(--primaryColorDark) !important;
}
[data-theme="dark"] .custom-table{
    border: 3px solid var(--primaryColorDark) !important;
    color:var(--primaryColorDark) !important;
}

.bg-light{
	color: var(--secondaryColor) !important;
	background-color: var(--primaryColor) !important;
}
/*Custom btn colors*/
.btn-outline-secondary{
  background-color: var(--primaryColor) !important;
  color:var(--secondaryColor) !important;
}

#myProgress {
	width: 100%;
}
#myBar {
	width: 100%;
	height: 30px;
	line-height: 30px; /* same as height for vertical align*/
	text-align: center;
}
/*
.row{
	border: 1px solid gray;
}

.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12{
	border: 2px dotted gray;
}*/
/*
.centered{
	padding-left: 10px;
	padding-right: 10px;
}*/

.box {
    max-width: 100%;
    height: auto;
}

.custom-table{
	border-collapse: collapse;
	border: 3px solid var(--primaryColor);
	color:var(--primaryColor);
	margin-top: 1rem;
}




/*Bootstrap alerts styling*/
#pageMessages {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 30%;
}

.alert {
  position: relative;
}

.alert .close {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 1em;
}

.alert .fa {
  margin-right:.3em;
}