/* #2B7586 foreground color*/
/* #F4E5B1 background color*/

.body-background{
	background-color: #F4E5B1;
	padding-bottom: 0px;
	padding-top: 0px;
}

/*Custom btn colors*/
.btn-outline-secondary{
    background-color: #2B7586 !important;
    color:#F4E5B1 !important;
}

.row{
	margin: 1rem;
}

/* DEBUGGING PURPOSE */
.col, .col-1, .col-2, .col-4, .col-12{
	/*border: 2px dotted black;*/
}


.result-text{
	font-size: 25px;
	color:black;
}

.col-centered{
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.box {
    max-width: 100%;
}

.custom-table{
	border-collapse: collapse;
	border: 3px solid #2B7586 !important;
	color:#2B7586 !important;

	padding: 0.75rem;
}




/*Bootstrap alerts styling*/
#pageMessages {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 30%;
}

.alert {
  position: relative;
}

.alert .close {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 1em;
}

.alert .fa {
  margin-right:.3em;
}