body{
	margin:0px;
	background-color: lightblue;
}
.cont-pagina{
	border:3px solid black;
}
.row{
	border: 1px solid black;
}
.col-1, .col-2, .col-4{
	border: 2px dotted black;
}

.logo-row{
	height: 50px;
}
.logo-text{
	font-size: 30px;
}

.insert-password-row{
	height: 60px;
}
.result-test{
	font-size: 25px;
	color:black;
}